h1{
  text-align: center;
  padding: 5%;
}

form{
  text-align: center;
}

input{
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2%;
}

select{
  margin-bottom: 2%; 
}

section{
  text-align: center;
  font-size: 24px;
}
